<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!--
        개발자가 필요로 하는 객체를 생성 : 클래스명 객체명 = new 클래스명();
        형식)  <beanid = "객체를 구분하는 인자(=객체명 X)"
                    class = "패키지명.하위패키지명...생성하고 하는 클래스명"></bean>
    -->
    <bean id="test" class="spring.Message1"/>
    <bean id="test" class="spring.Message2"/>

</beans>