<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

        <!-- web.xml 란
        1. 외부 DB 정보를 담고 있는 최종 파일들을 불러오는 기능을 함.
        -->
    <display-name>Spring</display-name>


        <!--
        context-param 태그 : 불러올 파일을 매개변수로 지정해서 불러오는 역할을 함.
        listener 태그 : 외부 DB 파일을 매개변수로 이용해서 불러오는 역할을 함.
        -->
    <!--
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/dataAccessContext-local.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    -->



                                <!-- servlet 셋팅 -->
    <servlet>
        <servlet-name>board</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                /WEB-INF/board-servlet.xml
            </param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>board</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

</web-app>
